* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Neue Machina";
}

html,
body {
    height: 100%;
    width: 100%;
}

main {
    height: 100%;
    width: 100%;
    background-color: #000;
}

ul {
    color: white;
    font-weight: 700;
    font-size: 25px;
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 20px;
    justify-content: space-between;
}

ul li {
    cursor: pointer;
}

#Hero {
    font-size: 40px;
}

header {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

#amount {
    margin-top: 30px;
    height: 45px;
    width: 190px;
    background-color: black;
    text-align: center;
    font-size: 25px;
    padding: 10px;
    padding-bottom: 40px;
    border-radius: 10px;
    border: 2px solid white;
    color: gray;
}

#budget {
    display: none;
    margin-top: 30px;
    height: 45px;
    width: 190px;
    background-color: black;
    text-align: center;
    font-size: 25px;
    padding: 10px;
    /*padding-bottom:;*/
    border-radius: 10px;
    border: 2px solid white;
    color: gray;
}

#confirm {
    display: none;
}

#modal {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(10px);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    appearance: textfield;

    -moz-appearance: textfield;
}

button {
    margin-top: 30px;
    height: 45px;
    width: 160px;
    background-color: black;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid white;
    color: white;
}

button:hover {
    cursor: pointer;
    scale: 1.2;
    transition: all ease-in-out 0.2s;
}

section {
    color: white;
    padding: 10px;
    margin-top: 40px;
    margin-left: 50px;
}

#expense {
    margin: 10px;
}

#expense:hover {
    scale: 1.1;
    transition: all ease-in-out 0.2s;
}

#expenseBox {
    display: flex;
    gap: 10px;
}

#expenseBox > h2 {
    padding-top: 20px;
}

#list {
    display: flex;
    flex-direction: column;
}

#list li {
    list-style: disc;
}

#expenseModal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 100%;
    width: 100%;
    top: 0%;
    left: 0%;
    backdrop-filter: blur(10px);
}

#expenseModal input {
    display: none;
    margin-top: 30px;
    height: 45px;
    width: 190px;
    background-color: black;
    text-align: center;
    font-size: 25px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid white;
    color: gray;
}

#expenseModal > div {
    display: flex;
    gap: 10px;
}

#addItem {
    display: none;
}
